{% extends 'base.html' %}

{% block content %}
<div class="containe mt-5r" style="width: 50%; margin: auto;">
    <h1>Welcome to your profile - {{user}}</h1>
        <div class="mt-5">
            <a href="{% url "pass_change1" %}"><button class="btn btn-danger mb-5">Change password using old password</button></a>
            <a href="{% url 'pass_change2' %}"><button class="btn btn-warning mb-5">Change password withou using old password</button></a> 
        </div>
        <div>
            <a href="{% url "edit_profile" %}"><button class="btn btn-info">Edit Profile</button></a>
        </div>
</div>
{% endblock %}