{% extends "base.html" %}
{% block content %}

<div class="container">
    <div style="width: 50%; margin: auto;" class="mb-5">
        <h1>Musician and their album</h1>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Musician</th>
            <th scope="col">Email</th>
            <th scope="col">Album Rating</th>
            <th scope="col">Instrument Type</th>
            <th scope="col">Album Name</th>
            <th scope="col">Realse Date</th>
            {% if user.is_authenticated %}
                <th scope="col">Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for album in albums %}
          <tr>
            <th scope="row">{{album.musician.pk}}</th>
            <td><a href="{% url 'edit_musician' album.musician.pk %}">{{album.musician.first_name}} {{album.musician.last_name}}</a></td>
            <td>{{album.musician.email}}</td>
            <td>{{album.rating}}</td>
            <td>{{album.musician.instrument_type}}</td>
            <td>{{album.name}}</td>
            <td>{{album.release_date}}</td>
            {% if user.is_authenticated %}
            <td>
                <span>
                    <a href="{% url "edit_album" album.id %}" class="btn btn-warning">Edit</a>
                </span>
                <span>
                    <a href="{% url "delete_album" album.id %}" class="btn btn-danger">Delete</a>
                </span>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock content %}
